html{
    scroll-behavior: smooth;
}

body{
    white-space: none;
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font-size: xx-large ;
}

.intro-container{
    width: 100%;
    height: 75%;
    color: black;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.intro-container p{
    font-size: x-large;
}

.intro-container #header-divider{
    width: auto;
    border-bottom: 1cap;
    border-color: rgb(206, 227, 245);
    border-bottom-style: solid;
}

.intro-container #name-header{
    font-size: 5rem;
}

.height75{
    height: 75%;
}

.project-container {
    width: 41%;
    height: 75%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 4px;  
}

.project-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    background-color: #1e1e1e;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.nav a:hover {
    background-color: #ddd;
    color: black;
  }
