html{
    scroll-behavior: smooth;
}

body{
    
    font-family: Kanit, sans-serif;
    font-weight: bold;
    
}

p{
    font-size: x-large ;
}

.h1{
    
    font-size: xx-large;
}

.h2{
    color: white;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: white;
}

.nav a {
    float: center;
    color: black;
    text-align: left;
    padding: 10px;
    margin:10px;
    text-decoration: none;
    font-size: 17px;
  }

.nav a:hover {
    background-color: #ddd;
    color: black;
  }

.intro-container{
    width: 100%;
    height: 70%;
    color: black;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    background-image: url(./images/174021-grey-geometric-abstract-backgroundfor-website-wallpaper-bussines.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.intro-container p{
    font-size: x-large;
}

.intro-container #header-divider{
    width: auto;
    border-bottom: 1cap;
    border-color: rgb(206, 227, 245);
    border-bottom-style: solid;
}

#project-btn{
    font-size: medium;
    background-color: #7843e9;
    color: white;
    text-transform: uppercase;
    padding: 20;
    border:none;
    box-shadow: none;
    display: inline-block;
    border-radius: 5px;
}

.project-container {
    height: 50%;
    display:flex;
    align-items: center;
    justify-content: center;


   
}

.container-view{
    height: 50%;
    background-color: white; 
    margin: 10px;
    border-style: solid; 
    border-width: 1px;
    border-radius: 15px;
    border-color: black;
    overflow: hidden;
}

.project-one-img{
    height: 100%;
    background-color: lightsalmon;
    border-right: 1px solid black;
    border-top-left-radius: 13px;
    border-bottom-left-radius:13px;
    background-image: url(./images/cloth-scs-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    }

.project-two-img{
    height: 100%;
    
    background-color: lightslategray;
    border-right: 1px solid black;
    border-top-left-radius: 14px;
    border-bottom-left-radius:14px;
    background-image: url(./images/fast-track-log.png);
    background-repeat: no-repeat;
    background-position: center;
    }

.project-three-img{
    height: 100%;
    background-color: black;
    border-right: 1px solid black;
    border-top-left-radius: 14px;
    border-bottom-left-radius:14px;
    background-image: url(./images/sms-butler-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.title-border{
    border-bottom: 1px solid #1e1e1e;
}

.button-container{
  margin:10px;
  position: absolute;
  right:0;  
  bottom: 0;
}

.source-btn{
    font-family: Patua One, sans-serif;
    background-color: white;
    font-size: large;
    border-width: 0px; 

}



.header-container{ 
    display:inline-flex;
    height:20%;
    width: 100%;
    justify-content: center;
    align-items: center; 
    margin: 10px;
}


