html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
    color: white;
    white-space: none;
    font-family: Kanit, sans-serif;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

ul.nav {
    width: 100%;
    display: inline-flex;
    background-color: #1e1e1e;
  }
  
ul.nav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

ul.nav li a:hover{
    color: #333;
    background-color: white;
}

ul.skills{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: #1e1e1e
}

ul.skills li p{
    border-radius: 10px;
    color: black;
    text-align: center;
    margin:5px;
    padding: 8px;
    background-color: white;
    text-transform: uppercase;
}

.project-container{
    position: relative;
    margin-top: 10px;
    color:#1E1e1e;
    padding: 5px;
}

.project-one-img{
    height: 50%;
    margin:0;
    border-radius: 10px;
    background-color: lightsalmon;
    background-image: url(./images/cloth-scs-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    }

.project-two-img{
    height: 50%;
    
    background-color: lightslategray;
    border-right: 1px solid black;
    border-radius: 10px;
    background-image: url(./images/fast-track-log.png);
    background-repeat: no-repeat;
    background-position: center;
    }

.project-three-img{
    
    height: 50%;
    background-color: black;
    border-right: 1px solid black;
    border-radius: 10px;
    background-image: url(./images/sms-butler-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

.title-border{
    border-bottom: 1px solid #1e1e1e;
}

.button-container{
 
  position: absolute;
  margin: 10px;
  right:0;  
  bottom: 0;

}

.source-btn{
    font-family: Patua One, sans-serif;
    background: none;
    font-size: large;
    border-width: 0px; 

}

.jumbotron-container{
    display: flex;
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
    justify-content: center;
    color: white;
    font-size: xx-large;
}

.jumbotron-headers{
 
    margin: 0;
    align-self: center;
    position: absolute; 

    text-align: center;
}

.jumbotron-icons{
    width: 100%;
    text-align: end;
    align-self: end;
    margin-right: 10px;
    color: white;
    margin-left:10px;
    justify-content: start;
}

.jumbotron-icons a{
    margin:0px;
    color: white;
}


.jumbotron-icons i{
    margin:0px;
   
    font-size: 3.5rem;
}

.jumbotron-background{
    background-image: url(./images/display-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2{margin: 0;}

.h2-header{
    display: flex;
    color:white;
    border-bottom: 1px solid white;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    height: 25%;
    width: 100%;
}

.header-container{
    width: 100%; 
    height: 5%;
    align-items: center;
    background-color: #1e1e1e;
    display: inline-flex;
}

.aboutme-container{
    display: block;
    background-color: #1E1E1E;
    width: 100%;
    color: white;   
}

.aboutme-container h2{
    padding: 7.5%;
    border-bottom: 2px solid lightgrey;
}

.skills-container{
    display: inline;
}

.div-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.div-container .content-holder{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid lightgrey;
    overflow: auto;
}

.div-container .content-holder #content{
    text-align: center;
    width: 75%;
}

.div-container .title-border{
    border-bottom: 1px;
}


.footer-container{
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    width: 100%;
    height:25%;
    padding: 0;
    margin-top: 10px;
    background-color: #1E1E1E;
}

.footer-icons{
    display: flex;
  
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-icons a{
    margin:20px;
    color: white;
    font-size: 4rem;
}

.contact-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.contact-info p{
    font-size: 1.75rem;
    margin: 15px;
    padding: 15px;
}


.contact-info i{
    font-size: 1.75rem;
    padding: 10px;
}

@media screen and (max-width:800px) {
    .div-container{flex-direction: column;
    height: 100%;} 
    
    .header-container{
        height:8%;
    } 

    .footer-container{
        height: 50%;
    }

    .contact-info{
        flex-direction: column;
    }

    .footer-icons{
        justify-content: center;
    }
}

@media screen and (max-width:380px) {
 
    .header-container{
        height:10%;
    } 

}




